@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@1,300&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

label {
    font-size: 20px;
    text-decoration: underline;
}
input,
textarea {
    padding: 5px;
    padding-right: 0;
    font-family: inherit;
}

input,
textarea,
button,
select {
    margin-top: 5px;
    margin-bottom: 10px;

    background: rgb(255, 247, 247);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    vertical-align:middle;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.form {
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    border: 2px solid rgb(77, 71, 71);
    background: rgb(138, 208, 255);
}

.line {
    box-sizing: border-box;
    display: inline-block;
    width: 32%;
}

.submit,
.reset {
    padding: 15px 10px;
    margin-right: 10px;
}
.submit {
    background: rgb(57, 219, 25);
}

.reset {
    background: rgb(240, 30, 30);
}

select {
    height: 35px;
    border: 1px solid rgb(39, 43, 39);
}
input {
    height: 25px;
}


button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .line {
        display: block;
        width: 100%;
    }
    input[type="text"], input[type="password"], input[type="tel"] {
        width: 100%;
    }
}
